<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>Nathan Jiang - Software Engineer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='shortcut icon' href="{{url_for('static', filename='imgs/favicon.ico') }}" type="image">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



    <script type="text/javascript" src="{{url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/pt.min.js') }}"></script>

    <!--<link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css') }}"/> -->

</head>
<body>
	{% block content %} {% endblock %}
	
</body>
	
</html>