{% extends "animation.html" %}
{% block navbar %}
	<section id="top">
		<div class="container">
			<nav>
				<div class="row">
					<div class="two columns"> <a href="#top"> Nathan Jiang </a></div>
					<div class="seven columns"> </div>
					<div class="one column"> <a href="#Projects"> Projects </a></div>
					<div class="one column"> <a href="/resume"> Resume </a></div>
					<div class="one column"> <a href="#Bio"> Bio </a></div>
				</div>
			</nav>
		</div>
	</section>
{% endblock %}  


{% block body %}

{% endblock %}