{% extends "animation.html" %}
{% block navbar %}
		<header>
			<div class="container">
					<div class="row">

						<div class="two columns">
						</div>

						<div class="seven columns"> </div>

						<div class="one column"> 
							<a href="#Projects"> Projects </a>
						</div>

						<div class="one column"> 
							<a href="/resume/"> Resume </a>
						</div>

						<div class="one column"> 
							<a href="#Contact"> Contact </a>
						</div>

					</div>
			</div>

			<div class="centerer">
        <div class="hero">
          <h5>Nathan Jiang</h5>
          <h6>asdasd asd asd asd asd asd asd asd asdas das.</h6>
        </div>
      </div>

		</header>
{% endblock %}  


{% block body %}
	<section id="Projects" class="u-text-center">
		<h4> Projects </h4>
	</section>

	<div class="flexible">
		<div class="row">
		<section class="one-half column tnm">
			<div class="title">
        <h6>The Nostalgia Machine</h6>
      </div>
      <div class="writeup">
        <p>Experience the music of your childhood with The Nostalgia Machine. This viral hit has been covered on <a target="_blank" href="http://www.engadget.com/2014/07/23/nostalgia-machine/">Engadget</a>, <a href="http://gizmodo.com/a-website-that-warps-you-back-to-the-hit-songs-of-your-1609840353" target="_blank" >Gizmodo</a>, and has played over 30 million songs for 10 million visitors. Created with <a href="https://twitter.com/jakeedoran">Jacob Doran</a>.</p>
        <a class="link" target="_blank" href="http://thenostalgiamachine.com/">Visit thenostlagiamachine.com</a>

      </div>
		</section>
		<section class="one-half column scorehorse">
			<div class="title">
        <h6>Scorehorse</h6>
      </div>
      <div class="writeup">
        <p>Scorehorse is a simple web app for managing and sharing squash scoreboards. At the start of 2015 I took the plunge, and began teaching myself how to make web apps. Built with Meteor.js and Semantic UI, created with <a href="https://twitter.com/jakeedoran">Jacob Doran</a>.</p>
        <a class="link" target="_blank" href="http://www.scorehorse.io">Visit www.scorehorse.io</a>
      </div>
		</section>
		</div>

		<div class="row">
		<section class="one-half column">
			
		</section>
		<section class="one-half column">
			
		</section>
		</div>

		<div class="row">
		<section class="one-half column">
			
		</section>
		<section class="one-half column">
			
		</section>
		</div>

		
	</div>
{% endblock %}