{% extends "base.html" %}

{% block content %}
<div class="ct" id="t1">
  <div class="ct" id="t2">
    <div class="ct" id="t3">
      <div class="ct" id="t4">
         <div class="ct" id="t5">

            
            <ul id="menu">
              <a href="#t1" style="width:100%;height:30%;display:block"></a>

              <a href="#t2"><li class="icon fa fa-user-circle-o" id="dos" title="About Me"></li></a>
              <a href="#t3"><li class="icon fa fa-free-code-camp" id="tres" title="Projects"></li></a>
              <a href="#t4"><li class="icon fa fa-file-text" id="cuatro" title="Resume"></li></a>
              <a href="#t5"><li class="icon fa fa-comments-o" id="cinco" title="Contact Me"></li></a>
              

              <a href="#t1" style="width:100%;height:30%;display:block"></a>
            </ul>


          <div class="page" id="p1">
             <div id="pt">
                <div class="container jumbotron">

                  <div class="row ontop centervertical">
                    <div class="col-sm-10 col-md-10">
                      <h1 class="introTitle">hello</h1>
                    </div>
                  </div>
                  <div class="row ontop belowvertical">
                    <div class="col-sm-10 col-md-10">
                      <p class="introText">I'm Nathan Jiang,
                      Software Engineer and
                      Student at UWaterloo</p>
                    </div>
                  </div>


                </div>                


                


             </div>
             <script type="text/javascript">
                 //// 1. Define Space and Form
              var colors = {
                a1: "#ff2d5d", a2: "#42dc8e", a3: "#419ed8", a4: "#ffe359",
                b1: "#96bfed", b2: "#f5ead6", b3: "#f1f3f7", b4: "#e2e6ef"
              };
              var space = new CanvasSpace("pt").setup( {bgcolor: "#222"} );
              var form = new Form( space );


              //// 2. Create Elements
              var mouse = new Circle( space.size.$divide(2) ).setRadius(200);
              var ball_x = window.innerWidth * (Math.random() > 0.5 ? 0.75 : 0.25); var dx = 4 * (Math.random() > 0.5 ? 1 : -1);
              var ball_y = window.innerHeight * (Math.random() > 0.5 ? 0.75 : 0.25); var dy = 4 * (Math.random() > 0.5 ? 1 : -1);
              var pts = [];
              for (var i=0; i<500; i++) {
                pts.push( space.size.$multiply( Math.random(), Math.random()) );
              }

              //// 3. Visualize, Animate, Interact
              space.add({
                animate: function(time, fps, context) {

                  // change mouse radius
                  mouse.setRadius( 200/space.size.y * 200 + 70 );
                  form.stroke(false);

                  // go through each point
                  for (var i=0; i<pts.length; i++) {

                    var size = 0.5;
                    var _p = pts[i].clone();

                    // if intersecting with mouse circle, change its size and scale from mouse anchor point
                    if (mouse.intersectPoint( pts[i]) ) {
                      var dist =  (mouse.radius - pts[i].distance( mouse )) / mouse.radius;
                      size = dist * 20;
                      form.fill( colors["a"+(i%4+1)] );
                      _p.scale2D( 1+dist, 1+dist, mouse );

                    } else {
                      form.fill( "#fff" );
                    }

                    // draw points
                    form.point( _p, size, true );
                  }
                },

                
              });


              // 4. Start playing

              space.play();

              setInterval( function(){
                if (ball_x < window.innerWidth/15 || ball_x > window.innerWidth - window.innerWidth/15){
                  dx = -dx;
                }
                if (ball_y < window.innerHeight/15 || ball_y > window.innerHeight - window.innerWidth/15){
                  dy = -dy;
                }

                ball_x += dx;
                ball_y += dy;

                mouse.set(ball_x, ball_y);

                }, 40);

              window.onresize = function(event){
                ball_x = window.innerWidth/2; 
                ball_y = window.innerHeight/2; 
              };

            </script>

            
            <!-- <div id="b" class="inversePair"></div> -->


            
          </div>


          <div class="page scrollPage2" id="p2">
            <div class="container">
              
                <div id="laptop-container">
                  
                  <div id="upper-half">
                    <div id="webcam"></div>
                    <div id="screen"></div>
                  </div>
                  
                  <div id="lower-half"></div>
                  
                </div>
                <div class="row">
                  <div class="col-md-7 col-sm-7">
                    <h1 class="subTitle">
                      Wait, who is Nathan?
                    </h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7 col-sm-7">
                    <h1 class="subText">
                      My name is Nathan Jiang and I’m currently a first-year student at the University of Waterloo; pursuing a Bachelors of Software Engineering and being pursued by geese.
                      <br> <br>
                      When I started writing code in the tenth grade, I was heavily focused on competitive programming, but more recently, I’ve started to branch out and explore the wonders of full-stack web development. Regardless of what I am doing, one fact remains the same: I enjoy taking complex problems and writing simple, elegant solutions.
                      <br> <br>
                      When I’m not in front of a computer you can usually find me jamming out to KPOP, playing the guitar, or on the badminton court.
                    </h1>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <img src="https://s30.postimg.org/oaj2ct41t/image.png" border="0" alt="me">
                  </div>
                </div>


                
            </div>  


          </div>
          <div class="page scrollPage3" id="p3">
            <div class="container">
              <div class="col-md-7 col-sm-7">
                <h1 class="subTitle">Things I've been working on</h1>
              </div>
              <div class="col-md-4 col-sm-4">
              </div>
            </div>
            <div id="stack1" class="card-container start">
              <section id="card1" class="card card1">
                   <h1>Directions to SMS</h1>

                  <p>A simple solution for those times you are lost in the city without a data plan to turn to. <br> Just text 647 691 3881 with your location and your destination, and wait for a response with the appropriate directions. <br> Created by combining the power of Twilio's SMS API, Google Directions, and a Python Flask server.</p>
              </section>
              <section id="card2" class="card card2">
                   <h1>Staysafewith.me</h1>

                  <p>Sometimes, the fastest way to get home isn't what you're looking for. By utilizing Google's Direction API in conjunction with statistical crime data from the past 10 years, staysafewith.me is a web application that calculates the safest walking path through areas of Detroit. </p>
              </section>
              <section id="card3" class="card card3">
                   <h1>Quest Cabochon</h1>

                  <p>An online, role-playing game designed and implemented with HTML, CSS, Javascript, and Phaser. <br>This fantasy-based quest comes packed with Player-AI combat, comprehensive shop/inventory economy, and a unique action-driven storyline. <br> Future plans to develop a cooperative mode are in the works!!</p>
              </section>
          </div>
          </div>


          <div class="page scrollPage4" id="p4">
            <div class="row">
              <div class="col-md-8 col-sm-8 alsobelowvertical centerer">
                <a class="nav-link" href="/resume" target="_blank">
                  <i class="fa fa-file-text-o" style="font-size: 6em" aria-hidden="true"></i>
                </a>
                <h1 class="subTitle" style="text-align: center;">I'm not sure why I left an entire page for a link, but here's my resume.</h1>
              </div>
            </div>
          </div> 



          <div class="page scrollPage5" id="p5">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-sm-10 centerer">
                  <h1 class="subTitle" style="text-align: center; font-size: 2em;"><br>Have an idea? Just want to be friends? Feel free to contact me!</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-md-offset-2 col-sm-offset-2">
                  <form style="text-align: center;" action="." method="POST">
                    <div class="form-group">
                      <input type="email" class="form-control my-form" name="email" aria-describedby="emailHelp" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control my-form" name="message" rows="5" placeholder="What's up?"></textarea>
                    </div>
                    <button type="submit" class="submitbtn" value="Send">Let's Go</button>
                  </form>

                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-10 centerer">
                  <h1 class="subTitle" style="text-align: center;">Or Look me up on...</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-10 centerer">
                  <a href="https://github.com/NathanJiangCS">
                    <i class="fa fa-github fa-4" style="font-size: 4em; margin-right: 0.1em;" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/nathanjiangcs">
                    <i class="fa fa-linkedin-square fa-4" style="font-size: 4em; margin-right: 0.1em;" aria-hidden="true"></i>
                  </a>
                  <a href="http://wcipeg.com/user/Snake">
                    <i class="fa fa-database fa-4" style="font-size: 4em; margin-right: 0.1em;" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.hackerrank.com/n35jiang">
                    <img src="https://s30.postimg.org/gxuty67jl/Hacker_Rank_logo.png" onmouseover="hover(this);" onmouseout="unhover(this);" class="link-icon" style="width: 3.5em; height: 3.5em;" alt='HackerRank_logo'/>
                  </a>
                </div>
              </div>
            </div>
          </div> 



        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}